pipeline/PL-Executor-Azure-DataLake.json
{
	"name": "PL-Executor-Azure-DataLake",
	"properties": {
		"activities": [
			{
				"name": "Loop-Tables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LU-GetTableList",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LU-GetTableList').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 4,
					"activities": [
						{
							"name": "EP-Framework",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "PL-Framework-FromAzure-ToDataLake",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"SourceSystem": {
										"value": "@item().SourceSystem",
										"type": "Expression"
									},
									"SourceSchema": {
										"value": "@item().SourceSchema",
										"type": "Expression"
									},
									"SourceTable": {
										"value": "@item().SourceTable",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "LU-GetTableList",
				"description": "Get the list of tables to load from the Metadata table",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM UTIL.vDataLoadMetaData_FromTable_ToFile WHERE SourceSystem = '@{pipeline().parameters.SourceSystem}' AND TargetSystem = 'ADLS'\n",
							"type": "Expression"
						}
					},
					"dataset": {
						"referenceName": "DSDataLoadMetadata",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"SourceSystem": {
				"type": "String",
				"defaultValue": "Src-Azure"
			}
		},
		"folder": {
			"name": "Executor"
		},
		"annotations": []
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}